/* #00A3A3 Darker Blue */


body {
    /* Actual back ground color */
    background-color: #00E0E0;
    /* Text color */
    color: #000000;
}

/* Dark mode */
.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    text-align: left;
}

.socials {
    text-align: right;
}

/* Colums */
.colums {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gather {
    display: flex;
    flex-direction: column;
}

.columTitle {
    font-size: 120%;
    font-weight: bold;
    padding-left: 2%;
}

.vResourse {
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: space-around;
    margin-left: 10%;
}

.footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 2%;
    bottom: 2%;
}

.darkmodebutton {
    white-space: nowrap;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: green;
    border-radius: 6px;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.bar {
    background-color: white;
    text-align: center;
    position: relative;
}

.bar button {
    position: absolute;
    width: 10%;
    left: 50%;
    right: 50%;
    padding: 0;
}

.bar p {
    position: absolute;
    left: 50%;
    right: 50%;
}

.bar2 {
    background-color: grey;
    width: 0%;
    height: 24px;
}