body {
    /* Actual back ground color */
    background-color: aqua;
    /* Text color */
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.colums {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gather {
    display: flex;
    flex-direction: column;
}

.vResourse {
    display: flex;
    flex-direction: row;
}

.footer {
    display: flex;
    justify-content: flex-end;
    
}
